.wrap{width:1280px;margin:0 auto;}
header{
	background-color:#fff;
	width:1280px;
	height:56px;
	margin:0 auto;
}
.nav-left{
	float:left;
}
.nav-left img{
	float:left;
	margin:13px 0 12px 60px;
}
.nav-left span{
	float:left;
	font-size:21px;height:56px;
	line-height:56px;
	margin-left:13px;
}
.nav-center li{
	font-size:14px;
	width:94px;
	height:56px;
	line-height:56px;
	text-align:center;
	float:right;}
.nav-center li a:link,.nav-center li a:visited{
	color:#81848b;
}
.nav-center li a:hover,.nav-center li a:active{
	color:#ea6665;
	text-decoration:none;
}
#li1{color:#ea6665;}
.nav-center li:last-child{
	color:red;
	border-bottom:2px solid #ea6665;
}
.nav-right{
	float:right;
	height:56px;
	line-height:56px;
	margin-right:67px;
}
.nav-right img{
	height:16px;width:13px;
	margin-left: 10px;
}
.nav-right span{
	color:#ea6665;
	font-size:14px;
	height:56px;
	line-height:56px;
	margin-left:13px;
}
/*header结束*/
.session1{width:1280px;height:690px;}
.session2{width:1280;height:250px;}
.session2-top{}
.session2-top li{
	width:320px;
	float:left; 
    height:125px;
    line-height:125px;
   }
   .session2-top li img{
   	margin-left:140px;
   }
.session2-bottom li{
	width:318px;
	float:left;
	text-align:center;
	border-right:2px solid #bbbbbb;
}
.session3{
	width:1280px;height:360px;
	background-color:#edecec;
	text-align:center;
}
.session3 img{
	width:90px;
	height:90px;
	margin-top:90px;
}
.session3 p{
	font-size:53px;
	color:#8f908f;
	margin-top:50px;
}
